
        body{
            background-color:darkolivegreen;
                }
        section{
            background-color: cornflowerblue;
        }
        h1{
            background-color: forestgreen;
            font: bold;
            }